<!DOCTYPE html>
<html>
<head>
<style>

ul {list-style-type: none;
margin: 0;
padding: 0;}
li {display: inline;
}
</style>
</head>
<body>

<h1>Home</h1>
{% block nav %}
<ul>

     <li><a href="{{ url_for('index') }}">Home</a></li>
     <li><a href="{{ url_for('all_lists') }}">All TODO lists</a></li>
</ul>
<br>
{% endblock %}

{% block content %}

<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.items.label }}{{ form.items() }}<br>
    {{ form.submit() }}<br>
</form>

{% endblock %}

</body>
</html>
